/*去除router-link的下划线样式*/
a {
  text-decoration: none;
  color: #441C08;
}

.router-link-active {
  text-decoration: none;
  color: #441C08;
}

/*app.vue*/
  #app {
    width: 100%;
    height: 100%;
  }
  .header{
    height: 150px;
  }
  .main{
    background: white;
  }
  .footer{
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
  }
  .main-color{
    background: #f14e54;
    color: white;
  }

/*Footer.vue*/
/*社交图标样式*/
  .social-icon{
    width: 30px;
    height: 30px;
  }

  .foot-span{
    font-size:14px;
    margin: 10px 40px;
  }

  /*about.vue*/

  /*公共样式*/
  .middle{
    margin: 0 auto;
  }

  .middle-div{
    width: 45%;
  }

  /*font style*/
  .font_6 {
    font: normal normal normal 18px/1.4em 'times new roman',times,serif;
    line-height: 1.4em;
    color: #6A4B3B;
  }

.font_7 {
  font: normal normal normal 15px/1.4em 'times new roman',times,serif;
  font-size: 15px;
  line-height: 1.4em;
  color: #441C08;
}

.img-border{
  border: 1px  solid #441C08;
}

.bord-rad{
  border-radius:5px;
}



